<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Genre</th>
          <th scope="col">Description</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurant of restaurants">
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.genre }}</td>
          <td>{{ restaurant.description }}</td>
          <td>{{ restaurant.rating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>